<div class="row">
  <div class="col-xs-12">
    <h1>Log In</h1>
  </div>
</div>

<div class="row">
	<div class="col-xs-8">
		<%= form_for :session, url: login_path do |f| %>
			<div class="form-group">
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control", placeholder: "Enter Email", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
			</div>
			<div class="form-group">
				<%= f.submit "Log In", class: "btn btn-primary btn-lg" %>
			</div>
		<% end %>

	</div>
</div>