<% object.each do |article| %>
  <div class="row">
    <div class="col-xs-8">
      <div class="well">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(article.description, length: 100) %>
          <div class="article-meta-details">
            <small>Created By: <%= article.user.username if article.user %>, <%= time_ago_in_words(article.created_at) + " ago" %>, Last Updated: <%= time_ago_in_words(article.updated_at) + " ago" %></small>
          </div>
        </div>

        <% if article.categories.any? %>
          <%= render article.categories %>
        <% end %>

        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="article-actions">
            <%= link_to "Edit this Article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete Article", article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>