<%= render 'shared/errors', object: @article %>

<div class="row">
	<div class="col-xs-8">
		<%= form_for @article do |f| %>
			<div class="form-group">
				<%= f.label :title %>
				<%= f.text_field :title, class: "form-control", placeholder: "Title of Article", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of Article" %>
			</div>
			<div class="form-group">
				<%= f.collection_check_boxes :category_ids, Category.order(:name), :id, :name do |cb| %>
					<%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			<div class="form-group">
				<%= f.submit class: "btn btn-primary btn-lg" %>
				<%= link_to "Cancel", articles_path, class: "btn btn-danger btn-lg" %>
			</div>
		<% end %>

	</div>
</div>