<div class="row">
  <div class="col-xs-12">
    <h1><%= @article.title %></h1>
  </div>
</div>

<div class="well col-xs-8">

  <%= simple_format(@article.description) %>

  <% if @article.categories.any? %>
    <%= render @article.categories %>
  <% end %>

  <% if @article.user %>
  <div class="user-body">
    <div class="user-title">
      <%= link_to gravatar_for(@article.user, 50), user_path(@article.user) %>
      <%= link_to @article.user.username.titleize, user_path(@article.user) %>
    </div>
  </div>
  <% end %>

  <div class="article-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to "Edit this Article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "View All Articles", articles_path, class: "btn btn-xs btn-info" %>
  </div>
</div>