<%= render 'shared/errors', object: @user %>

<div class="row">
	<div class="col-xs-8">
		<%= form_for @user do |f| %>
			<div class="form-group">
				<%= f.label :username %>
				<%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control", placeholder: "Enter Email", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "btn btn-primary btn-lg") %>
			</div>
		<% end %>

	</div>
</div>