<div class="row">
  <div class="col-xs-12">
    <h1>Alpha Bloggers</h1>
  </div>
</div>

<% @users.each do |user| %>
  <div class="row">
    <div class="col-xs-8">
      <div class="well">
        <div class="user-title">
          <%= link_to gravatar_for(user, 150), user_path(user) %>
          <%= link_to user.username.titleize, user_path(user) %>
        </div>
        <div class="user-body">
          <div class="article-meta-details">
            <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
          </div>
        </div>

        <% if logged_in? && current_user.admin? %>
          <div class="article-actions">
            <%= link_to "Delete User", user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>

<%= will_paginate %>