<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to <%= @user.username.titleize %>'s Page</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <%= gravatar_for @user, 150  %>
  </div>
</div>

<h4>Articles by <%= @user.username.titleize %></h4>

<%= render 'articles/article', object: @user_articles %>

<%= will_paginate(@user_articles) %>