$navbar-default-bg: #002842;

@import "bootstrap-sprockets";
@import "bootstrap";

.m-b-10 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('arches.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: 110px;
}

.btn-special {
  background-color: #6F750C;
  border-color: #6F750C
}

.btn-special:hover {
  background-color: #58890B;
  border-color: #58890B;
}

.article-meta-details {
  margin-top: 15px;
}

.article-actions {
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
}

.article-title, .user-title {
  font-weight: 300;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
}

.user-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
  margin-top: 15px;
}

.badge {
  background-color: #fff;
  margin: 0 5px 5px 0;
  text-transform: lowercase;
}

.badge a {
  text-decoration: none;
}

.input_checkbox input {
  width: auto !important;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.custom-title-left-padding {
  padding-left: 10px;
  margin-bottom: 20px;
}