<%= render 'shared/errors', object: @category %>

<div class="row">
	<div class="col-xs-8">
		<%= form_for @category do |f| %>
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control", placeholder: "Name of Category", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.submit class: "btn btn-primary btn-lg" %>
				<%= link_to "Cancel", categories_path, class: "btn btn-danger btn-lg" %>
			</div>
		<% end %>

	</div>
</div>