<div class="row">
  <div class="col-xs-12">
    <h1>Categories</h1>
  </div>
</div>

<% @categories.each do |category| %>
  <div class="row">
    <div class="col-xs-8">
      <div class="well">
        <div class="article-title">
          <%= link_to "#{category.name}", category_path(category) %>
        </div>
        <small><%= pluralize(category.articles.count, "article") %>.</small>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate %>