<div class="row">
  <div class="col-xs-12">
    <h1><%= @category.name %></h1>
    <% if logged_in? && current_user.admin? %>
      <%= link_to "Edit Category", edit_category_path(@category), class: "btn btn-xs btn-primary m-b-10" %>
    <% end %>
  </div>
</div>

<%= render 'articles/article', object: @category_articles %>

<%= will_paginate @category_articles %>