<div class="container">
  <footer class="footer">
    <small>Copyright &copy; Alpha Blog 2019</small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>

<%= debug(params) if Rails.env.development? %>